.card{
    display: flex;
    flex-direction:column ;
    margin: 1%;
    line-height: 0.5;
    min-height: 80vh;
    justify-content: center;
    background-image: radial-gradient(rgb(0,225,255),rgb(0,122,254),rgb(0,255,014));
}
.image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.img{
    
    width: 100%;
    height: auto;
}