.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(rgb(174, 241, 219), rgb(215, 226, 206));
  min-height: 100vh;
  align-items: center;
  line-height: 10px;
  margin: 3rem;
}
label {
  margin: 1rem;
  padding: auto;
}
input {
  margin: 1rem;
  padding: auto;
  border-radius: 5px;
}
button{
    background-color: rgb(4, 129, 87);
    border-radius: 5px;
    padding: 0.3rem;
    margin: 1%;
}
button:hover{
    opacity: 0.8;
    background-color: rgb(151, 176, 81); 
}