.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(rgb(174, 241, 219), rgb(215, 226, 206));
  min-height: 100vh;
  align-items: center;
  line-height: 10px;
  margin: 3rem;
}
label {
  margin: 1rem;
  padding: auto;
}
input {
  margin: 1rem;
  padding: auto;
  border-radius: 5px;
}
button{
    background-color: rgb(4, 129, 87);
    border-radius: 5px;
    padding: 0.3rem;
    margin: 1%;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 125, 0.2);
    width: 30%;
    height: inherit;
}
button:hover{
    opacity: 0.8;
    background-color: rgb(151, 176, 81); 
}
.error{
  color: red;
}
@media screen and ( min-device-witdh: 300)and(max-device-width : 600) {
  button{
    width: 60%;
   
  }
}